.TabItem {
  width: calc(33.33% - 1rem);
  border: thin solid black;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  margin-right: 1rem;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background .2s ease-in, color .2s ease-in;
}

.TabItem:last-child {
  margin-right: 0;
  width: 33.33%;
}

.TabItem--active {
  background: black;
  color: white;
  font-weight: bold;
}