.App {
  padding: 4rem;
  margin: 0 auto;
}

.App-title {
  text-align: center;
}

.App-content {
  display: flex;
}

.App-part {
  flex-basis: 50%;
}

button {
  border: none;
  outline: none;
  padding: 0;
}
